.bg {
    background-color: #d1d1d1;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    color: rgb(46, 47, 52);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.button-primary {
    color: white;
    background-color: #5060EE;
    padding: 1.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    margin: 1.2em;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.button-primary:hover {
    color: white;
    background-color: #909bf9;
}

.image {
    width: 10em;
}

.link {
    margin: 1em;
    font-size: 1.2em;
    text-decoration: none;
}

.text {
    color: black;
    margin: 2em;
    font-size: 1.5em;
}